body{
    background-color: lightgray;
}
.top h1{
    font-size: 70px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px 20pxpx;
}
.top p{
    text-align: center;
    margin: 0;
    padding: 0px 20px;
}
.heading{
    text-align: center;
}
form{
    text-align: right;
}
.flex{
    display: flex;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 4s;
}
.flex:hover {
    background-color: pink;
}
.boxes{
    margin: 1rem;
    padding: 1rem;
    background-color: bisque;
    color: black;
    box-shadow: 10px 10px 10px black, 10px 10px 10px black;
}
.boxes:hover{
    font-size: 10px;
    background-color: pink;
}
.information{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    ;
}
#home{
    padding: 0px 40px;
    margin: 0px;
}
#home a{
    text-decoration: none;
    display: inline-block;  
}
#home:hover{
    font-size: 150%;
    color: azure;

}
.clothes{
    background-color: #ffe4c4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.sport{
    background-color: #ffe4c4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.phones{
    background-color: #ffe4c4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.computer{
    background-color: #ffe4c4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.necgles{
    background-color: #ffe4c4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.listing{
    display: flex;
    flex-direction: crow;
}
#extra{
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    border-spacing: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 10px 20px;
}
#extra:hover{
    background-color: pink;
}
.footer{
    text-align: center;
    font-size: 15px;
    background-color: black;
    margin-top: 20px;
    padding: 10px 0px 20px 0px;
    color: white;
}