*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
    .container{
        text-align: center;
        border: 15px solid pink;
        margin-top: 200px;
        margin-left: 350px;
        margin-bottom: 250px;
        margin-right: 350px;
        background-color: white;
    }
    button{
        padding: 5px 20px;
        margin-top: 20px;
    }
    button:hover{
        background-color: red;
    }